@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
.Login {
  border-radius: 20px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 14px 14px 28px #bebebe, -14px -14px 28px #ffffff;
}
.register {
  padding: 45px;
}


