.loginBg {
    background-image: url('./login-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    background-position: center;
    opacity: 0.9;
    padding: 8em;
}

